#front-page{
    background-color: #fff;
}

#front-page #front-title{
    width: 100%;
    cursor: pointer;
}

#front-page #front-title img{
    width: 100%;
    height: auto;
}

#front-page .footer{
    position: absolute;
    bottom: 0;
}

#front-page .footer img{
    width: 100%;
    height: auto;
}

