
<div id="msg-stream" class="msg-wrap">


    <ul class="stream-list">
        <li ng-repeat="perRow in model.result" >
            <p class="tag-line">

              <img src="assets/tag-1.svg">
                <span class="field view-field">{{ perRow.field1 || "____" }}</span>
                <img src="assets/tag-2.svg">
                <span class="field view-field">{{ perRow.field2 || "____"}}</span>
                 <img src="assets/tag-3.svg">         
                <span class="field view-name">{{ perRow.author || "____" }}</span>
          
            </p>
        </li>
    </ul>
    <a href="#/">Back</a>

</div>

<a href="#/create" class="btn-create"><img src="assets/btn-create.svg"></a>

