<div id="front-page">
    <div id="front-title">
        <img src="/assets/landing-tag.svg" />
    </div>
    
    <footer class="footer">
    </footer>
</div>

<div id="msg-stream" class="msg-wrap"  infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='model.isLoading || model.isLoadEnd'>


    <ul class="stream-list">
        <li ng-repeat="perRow in model.result" >
            <p class="tag-line">

              <img src="/assets/tag-1.svg">
                <span class="field view-field">{{ perRow.field1 || "____" }}</span>
                <img src="/assets/tag-2.svg">
                <span class="field view-field">{{ perRow.field2 || "____"}}</span>
                 <img src="/assets/tag-3.svg">         
                <span class="field view-name">{{ perRow.author || "____" }}</span>
          
            </p>
        </li>
    </ul>
</div>

<a href="/create" class="btn-create" ng-click="unsetScroll()"><img src="/assets/btn-create.svg"></a>
<a href="https://www.popvote.hk/project/vote_622/" target="_blank" class="btn-info" ng-click="unsetScroll()"><img src="/assets/home_info.svg"></a>



