<div id="msg-create" class="msg-wrap">
    <form name="oclp_form" novalidate ng-submit="oclp_form.$valid && submit()">
        <p class="tag-line">

            <img src="assets/tag-1.svg">
            <input type="text" name="field1" class="line_input tag-input-1" size=4 ng-model="model.field1" value="" required ng-maxlength=20 />
            <img src="assets/tag-2.svg">
            <input type="text" name="field2" class="line_input tag-input-2" size=4 ng-model="model.field2" value="" required ng-maxlength=20 />
            <img src="assets/tag-3.svg">
        </p>

        <p class="tag-name-wrap">

            <img src="assets/tag-name.svg"><input type="text" name="author" ng-model="model.author" value="" required ng-maxlength=20  class="line_input name-input" />
        </p>

        <p>

            <input type="submit" class="line_input tag-submit" ng-hide="model.isLoading" value="立即發聲">
            <p ng-show="model.isLoading"></p>
        </p>
    </form>
    <a ng-hide="model.isLoading" href="/stream">Back</a>
</div>
