<!DOCTYPE html>
{% autoescape true %}
<html ng-app="oclp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>全城和平佔中</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta property="og:site_name" content="全城和平佔中"/>
    
    <meta property="article:publisher" content="https://www.facebook.com/OCLPHK" />
    <meta property="og:image" content="{{ og_image }}"/>
    <meta property="og:url" content="{{ og_url }}"/>
    {% if og_description %}
    <meta property="og:title" content="{{ og_description }}" />
    <meta property="og:description" content="全城起來，和平佔中" />
    {% else %}
    <meta property="og:title" content="全城起來，和平佔中" />
    <meta property="og:description" content="時代正召喚我們勇敢的回應！這是最壞的時代，這是最好的時代，這是災後重建的時代。和平佔中會堅守民主信念，動員全民爭取自由達致真普選，對抗高牆背後的黑暗，不讓香港沉淪變質。" />
    {% endif %}
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51911796-1', 'oclp622.com');
  ga('send', 'pageview');

</script>
<body>
    <div class="page-wrap">

    <div class="logo home-logo">
      <a href="/" ><img src="/assets/home-logo-629.svg"></a>
    </div>

     <div class="logo landing-logo">
      <a href="/" ><img src="/assets/landing-logo-629.svg"></a>
    </div>

    <h1 class="info-tag"><img src="/assets/info-tag.svg"></h1>

    <div class="info-col">
      <h3><img src="/assets/info-head-1.svg"></h3>
      <div class="info-content">
          <h4>6月20日(星期五) 正午12:00至<br>
              6月29日(星期日) 晚上9:00</h4>

          <h4 class="indent">1 流動應用程式「Popvote普及投票」</h4>
          <p><img src="assets/qr.png" style="width:170px"></p>

          <h4 class="indent margin-b-clear">2 網上投票：<a href="https://popvote.hk/">https://popvote.hk/</a></h4>
          <p>認證資料：投票人士身份證全部號碼，
              及可發送短訊SMS之手機號碼。<br>
              只接受香港境內傳送。
            </p>

            <p class="margin-t"><small>投票系統由香港大學民意研究計劃與
            香港理工大學社會政策研究中心獨立設計及執行</small></p>
      </div>
    </div>

    <div class="info-col info-border">
       <h3><img src="/assets/info-head-2.svg"></h3>
       <div class="info-content">
          
          <h3>6月22日(星期日)<br>
          上午10:00–晚上10:00</h3>

          <hr>

          <p>6月23至27日特別加開城大實體票站：</p>

          <h3>6月23至27日(星期一至五)<br>
          晚上6:00–10:00</h3>

          <h3>6月28日(星期六)<br>
          上午10:00–晚上10:00</h3>

          <p>地點：<br>
          九龍塘香港城市大學康樂樓4樓<br>
          學生會活動中心(泳池旁) </p>

          <h3>6月29日(星期日)<br>
          上午10:00–晚上10:00</h3>

          <p>新增票站容後公布<br>
          請留意：<a href="http://fb.com/oclphk" target="_blank">http://fb.com/oclphk</a><br>
          地圖：<br><a href="http://www.popvote.hk/project/vote_622/stations/" target="_blank">www.popvote.hk/project/vote_622/stations/</a></p>

          <hr>


          <h2>票站地址</h2>
          <h3>6月22日(星期日)<br>
          上午10:00–晚上10:00</h3>

          <h2><span class="u-line">港島區</span></h2>

          <p>香港大學<br>
          香港大學學生會大樓地下空地 (黃克競樓旁)</p>

          <p>教協銅鑼灣服務中心<br>
          香港銅鑼灣堅拿道西15號永德大廈閣樓</p>

          <p>柴灣道十八號<br>
          香港筲箕灣柴灣道18號</p>

          <h2><span class="u-line">九龍區</span></h2>

          <p>香港理工大學<br>
          紅磡香港理工大學GH201室</p>

          <p>基督教協進大樓<br>
          尖沙咀加連威老道33號基督教協進大樓地窖</p>

          <p>油麻地聖保祿堂 <br>
          油麻地東莞街41號</p>

          <p>香港城市大學<br>
          九龍塘香港城市大學康樂樓4樓<br>
          學生會活動中心(泳池旁) </p>
          
          <p>慈雲山聖文德堂<br>
          慈雲山蒲崗村道89號 </p>

          <p>民協長沙灣職業訓練中心<br>
          長沙灣道681號貿易廣場地下5–7號舖</p>

          <h2><span class="u-line">新界區</span></h2>

          <p>教協將軍澳中心<br>
          將軍澳寶琳北路100號欣明苑停車場大廈地下</p>

          <p>沙田文禮路馬登校舍(沙田官立中學對面)<br>
          沙田文禮路18–24號, 23–25號</p>

          <p>街工荃灣遠東再培訓中心<br>
          荃灣青山公路135–143號遠東中心5樓</p>

          <p>街工葵芳綜合服務互助幼兒中心<br>
          葵涌葵芳村葵仁樓地下1–3號</p>

          <p>屯門贖世主堂<br>
          屯門鄉事會路2號</p>

          <p>職工盟元朗培訓中心<br>
          元朗泰祥街2–8號大鴻輝商業大廈5樓</p>



       </div>
    </div>

    </div>

</body>
</html>
{% endautoescape %}